<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Articles</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="tachyons.min.css">
    <link rel="stylesheet" href="iconmonstr-iconic-font.min.css">
</head>
<body>
    <div class="main">
        <div class="head-user flex pa2 tc mb0 justify-between bg-white black shadow-3 ">
            <a href="/">
                <h2 class="title-user black  ma0 flex justify-between">Lekhak</h2>
            </a>
           
            <a class="wft bg-white bn " href="/search"> <img src="2.jpg" class="w-100 fr" height="30px" alt="search-image"></a>

        </div>
         
            <div class="articles">

            
            <% for(var i = 0; i < data.length; i++)  {  %>
                <div class=" bg-white w-90 mv3 tc center ph3 pv1 br2 ws-normal">
            <h3 class="f3 br3 black title"><%= data[i].title %></h3>
            <div class="line"></div>
            <p class="tj "><%= data[i].content %></p>
            <p class="pa2 wft tag"><%= data[i].cato %></p>
        </div>
            <% } %>
        </div>
    </div>
</body>

</html>