<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lekhak</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="tachyons.min.css">
    
    <style>
        
    </style>
</head>
<body>
    <div class="main">
            <ul class="hamMenu  black pa2 ma0 flex justify-end " id="hamMenu">
   
               <a class="pa1  white br3 f6 " href=""> <li class="menuItem pa2 wft  ">Need Help?</li></a>
                
            </ul>
  
        <h2 class="title-main " >Lekhak</h2></a>
        <p class="slogan tc">Wake the Lekhak inside you</p>
        <div class="options">
            <a href="/read" class="opt-link pointer"><button class="opt mb3 mt4  ">Read Articles</button></a>
            <a href="/add" class="opt-link pointer"><button class="opt  ">Add Articles</button></a>
        </div>
        
        <p class="bottom">All Rights Reserved @Lekhak.in - Made with Love in India </p>
    </div>
</body>
</html>